language: cpp

sudo: required
dist: trusty

before_install:
  - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get -y install libtokyocabinet-dev libkyotocabinet16
  - travis_retry sudo apt-get -y install libboost-program-options-dev libboost-regex-dev libboost-serialization-dev libboost-thread-dev
  - travis_retry sudo apt-get -y install uuid-dev
  - travis_retry sudo apt-get -y install git
  - travis_retry sudo apt-get -y install cabal-install-1.18 ghc-7.6.3
  - travis_retry sudo apt-get -y install git
  - travis_retry sudo sudo dpkg -i flare_1.3.2-1+trusty1_amd64.deb
  - export PATH=$HOME/.cabal/bin:/opt/ghc/7.6.3/bin:/opt/cabal/1.18/bin:$PATH
  - git clone https://github.com/gree/flare.git
  - cabal update
  - grep -v localhost /etc/hosts > hosts
  - echo "127.0.0.1 localhost" >> hosts
  - sudo cp hosts /etc/hosts

script:
#  - cabal install ./test-sandbox .
  - cabal install .
#  - (cd flare && ./autogen.sh && ./configure && make && sudo make install)
#  - ./test.sh
  - cp /usr/bin/flared .
  - cp /usr/bin/flarei .
  - flare-tests
  - for i in *.txt ; do echo --- "$i"  --- ; cat "$i" ;done
  - sudo grep flare /var/log/syslog 
